@import url('https://fonts.googleapis.com/css2?family=Rubik:ital@1&display=swap');

* {
	padding: 0;
	margin:  0;
	box-sizing: border-box;
}

img {
	width: 100%;
	height: 100%;
	object-fit: cover;
}

html {
	font-family: Rubik;
	font-size: 12px;
}

section {
	min-height: 100vh;
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 100px 0;
	background-image: linear-gradient(120deg, #f6d365 0%, #fda085 100%);
}

.container {
	width: 90%;
	height: auto;
	max-width: 1200px;
	margin: 0 auto;
}

.brand {
	text-align: center;
	font-size: 4rem;
	color: rgb(255, 51, 51);
	margin-bottom: 30px;
}

form {
	width: 90%;
	max-width: 400px;
	margin: 20px auto;
	background-color: rgb(223, 223, 223);
	border-radius: 10px;
}

form input {
	width: 100%;
	background-color: transparent;
	padding:  10px;
	border: none;
	outline:  none;
	font-size: 2rem;
}

.search-result {
	margin-top: 50px;
	width: 100%;
	display: grid;
	grid-gap: 50px;
	grid-template: auto / repeat( auto-fit, minmax(300px, 1fr) );
}

.item {
	width: 100%;
	border-radius: 8px;
	background-color: rgb( 37, 37, 37 );
	padding:  15px;
	overflow: hidden;
}

.item img {
	width: 100%;
	height: 300px;
	border-radius: 5px;
}

.item .flex-container {
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.item .title {
	color: whitesmoke;
	margin: 20px 10px 0 0;
	font-size: 1.8rem;
	font-weight: 400;
}

.view-button {
	text-decoration: none;
	text-align:  center;
	width: 130px;
	padding:  10px 0;
	background-color: rgb( 64, 64, 65 );
	color: white;
	font-size: 1.4rem;
	margin-top: 20px;
	align-self: flex-start;
}

.item-data {
	color: whitesmoke;
	display: block;
	margin-top: 10px;
	font-size: 1.4rem;
	letter-spacing: .05rem;
	line-height: 2rem;
}
